<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
    <!-- <p>braA</p> -->
    <table>
        <tr>
            <th>ID</th>
            <th>商品名</th>
            <th>金額</th>
            <th>商品ID</th>
        </tr>
        <% itemlist.forEach(function (value) { %>
        <tr>
            <td><%= value.itemid %></td>
            <td><%= value.itemname %></td>
            <td><%= value.itemprice %></td>
            <td><a href="/edit/<%= value.id %>">更新</a></td>
            <td><a href="/delete/<%= value.id %>">削除</a></td>
        </tr>
        <% }); %>
    </table>
</body>
</html>
