<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>

    <table>
        <tr>
            <th>ID</th>
            <th>商品名</th>
            <th>金額</th>
            <th>商品ID</th>
            <th>画像</th>
        </tr>
        <% itemlist.forEach(function (value) { %>
        <tr>
            <td><%= value.id %></td>
            <td><%= value.item %></td>
            <td><%= value.price %></td>
            <td><%= value.itemid %></td>
            <td><%= value.img %></td>
        </tr>
        <% }); %>
    </table>
</body>
</html>
