<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>list</title>
        <link rel="stylesheet" href="/css/list.css">
    </head>
    <body>
        <ul class="list-container">
            <% itemlist.forEach(function(item) { %>
                <li class="list">
                    <p class="listname">
                    <div class="item-img">
                       <%= item.itemdeta %></p>
                        <% item.images.forEach(function(image) { %>
                            <img src="<%= image %>">
                            <% }); %>
                    </div>
                </li>
                <% }); %>
        </ul>
        <h3>レビュー</h3>
        <a href="/create">レビューを追加する</a>
        <ul class="personItem-container">
            <% review.forEach(function (value) { %>
                <li class="personItem">
                    <div class="personItem-defo">
                        <p class="name"><%= value.username %>さん</p>
                        <p class="age"><%= value.age %>歳</p>
                    </div>
                    <div class="review">
                        <div class="stars">
                            <span>
                                <% for (let i=5; i>= 1; i--) { %> <% if (i <=value.rating) { %>
                                        <label for="review<%= i %>" style="color: #F8C601;">★</label>
                                        <% } else { %>
                                            <label for="review<%= i %>" style="color: #D2D2D2;">★</label>
                                            <% } %>
                                                <% } %>
                            </span>
                            <p class="rating"><%= value.rating %></p>
                        </div>
                    </div>
                    <p class="reason"><%= value.reason %></p>
                    <p class="merchandise"><%= value.merchandise %></p>
                    <% const createdDate = new Date(value.created_at); %>
                    <p class="created_at"><%= createdDate.toLocaleString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' }) %></p>
                    <% }); %>
        </ul>
        <a href="/">トップに戻る</a>
    </body>
</html>
