<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>list</title>
        <link rel="stylesheet" href="/css/list.css">
    </head>
    <body>
        <ul class="list-container">
            <% itemlist.forEach(function(item) { %>
                <li class="list">
                    <p class="listname">
                    <div class="item-img">
                       <%= item.itemdeta %></p>
                    <% item.images.forEach(function(image) { %>
                        <img src="<%= image %>">
                        <% }); %>
                            </div>
                </li>
                <% }); %>
        </ul>
        <h3>レビュー</h3>
        <a href="/create?item=<%= itemlist[0].item %>">
            <button>レビューを書く</button>
        </a>
        <div>
            <label for="sort">並び替え</label>
            <select id="sort" class="sort-container">
                <option value="1">標準</option>
                <option value="2">評価が高い順</option>
                <option value="3">評価が低い順</option>
            </select>
            <label for="filter">評価で絞り込み</label>
            <select id="filter" class="filter-container">
                <option value="0">全て</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
        </div>
        <ul class="personItem-container">
            <% review.forEach(function (value) { %>
                <li class="personItem">
                    <div class="personItem-defo">
                        <p class="name"><%= value.username %>さん</p>
                        <p class="age"><%= value.age %>歳</p>
                    </div>
                    <div class="review">
                        <div class="stars">
                            <span>
                                <% for (let i=5; i>= 1; i--) { %> <% if (i <=value.rating) { %>
                                        <label for="review<%= i %>" style="color: #F8C601;">★</label>
                                        <% } else { %>
                                            <label for="review<%= i %>" style="color: #D2D2D2;">★</label>
                                            <% } %>
                                                <% } %>
                            </span>
                            <p class="rating"><%= value.rating %></p>
                        </div>
                    </div>
                    <p class="reason"><%= value.reason %></p>
                    <p class="merchandise"><%= value.merchandise %></p>
                    <% const createdDate=new Date(value.created_at); %>
                        <p class="created_at"><%= createdDate.toLocaleString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' }) %></p>
                        <% }); %>
        </ul>
        <a href="/">トップに戻る</a>
        <script type="text/javascript">
            //ソート
            let sortSelect = document.getElementById("sort");
            let urlParams = new URLSearchParams(window.location.search);
            let selectedValue = urlParams.get("sort");

            if (selectedValue) {
                sortSelect.value = selectedValue;
            }

            sortSelect.addEventListener("change", function () {
                let selectedValue = sortSelect.value;
                if (selectedValue === "1") {
                    let url = new URL(window.location.href);
                    url.searchParams.delete("sort");
                    location.href = url.href;
                } else {
                    let url = new URL(window.location.href);
                    url.searchParams.set("sort", selectedValue);
                    location.href = url.href;
                }
            });
            //絞り込み
            let filterSelect = document.getElementById("filter");
            let urlParams2 = new URLSearchParams(window.location.search);
            let selectedFilter = urlParams2.get("filter");

            if (selectedFilter) {
                filterSelect.value = selectedFilter;
            }

            filterSelect.addEventListener("change", function () {
                let selectedValue2 = filterSelect.value;
                if (selectedValue2 === "0") {
                    let url2 = new URL(window.location.href);
                    url2.searchParams.delete("filter");
                    location.href = url2.href;
                } else {
                    let url2 = new URL(window.location.href);
                    url2.searchParams.set("filter", selectedValue2);
                    location.href = url2.href;
                }
            });
        </script>
    </body>
</html>
